@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
}

img{
    width: 100vw;
    position: relative;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    color: wheat;
    position: absolute;
    top: 20%;
    right: 20%;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: wheat;
    position: absolute;
    top: 30%;
    right: 20%;
}

